.authorization {
  align-items: flex-start;
}

.authorization__title {
  align-self: center;
}

.authorization__block {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.authorization__submit {
  align-self: center;
}

.authorization__input-block {
  position: relative;
  width: 281px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.authorization__substrate {
  width: auto;
  max-width: 63px;
  position: absolute;
  top: -12px;
  left: 0;

  color: transparent;
  line-height: 19px;
  //overflow-x: scroll;
  opacity: 0;

  &::after {
    position: absolute;
    width: 100%;
    height: 2px;
    content: "";
    top: 50px;
    left: 0;

    background-color: #800000;
  }
}

.authorization__block-forgot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.authorization__plus-symbol {
  position: relative;

  &::before {
    content: '+';
    position: absolute;
    top: 22px;
    left: 10px;
  }
}
