.button {
  width: 100%;
  margin: 35px 0 25px;
  padding: 10px 25px;
  border: none;
  border-radius: 15px;
  background-color: $dark-linkColor;

  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: $dark-textColor;

  &--back {
    margin: 0;
    margin-right: 20px;
    position: relative;
    width: 40px;
    height: 42px;
    padding: 0 20px 0 0;

    background-color: transparent;
    border-radius: 0;
    border-right: 2px solid $dark-linkColor;

    &::before {
      content: "";
      position: absolute;
      top: calc(50% - 10px);
      left: 0;
      border: 10px solid transparent;
      border-right-color: #fff;
    }
  }

  &--registration {
    margin-top: 30px;
  }

  &:focus {
    background-color: $dark-background;
    outline: none;
    box-shadow: 0 0 0 1px $dark-linkColor;
  }

  &:disabled {
    opacity: 0.3;
  }
}