.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 16px 16px 33px;
  min-width: 280px;
  max-width: $form-max-width;
  margin: 0 auto;
}

.form__validityMessage {
  display: block;
  width: 280px;
  height: 42px;
  position: absolute;

  line-height: 0.8em;
  color: #800000;
  font-weight: 600;
  //text-shadow: 1px 1px 2px black, 0 0 1em white;
  z-index: -1;
}