.input {
  height: 32px;
  padding: 5px 10px;
  margin: 9px 0 5px;

  font-size: 14px;
  line-height: 19px;
  color: $dark-textColor;

  border: none;
  background-color: $dark-fieldColor;
  border-radius: 15px;

  &--phone-code {
    width: 50px;
    padding-left: 20px;
  }

  &--phone {
    //margin: 0;
    margin-left: 5px;
    padding-right: 25px;
    width: 57%;
  }

  &--user-phone {
    margin: 0 0 0 5px;
  }

  /*
    &--code {
      margin: 10px 0 0;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      letter-spacing: 10px;
      border: none;
      background-color: transparent;

      &:focus {
        box-shadow: none;
      }
    }
  */

  &--wrapper {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    padding: 0;
    height: 42px;
    background-color: transparent;
  }

  &::placeholder {
    color: rgba($dark-textColor, 0.5);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px $dark-linkColor;
  }

  &--invalid {
    box-shadow: 0 0 0 2px #800000, 0 2px 12px 2px #800000;

    &:focus {
      box-shadow: 0 0 0 2px #800000, 0 2px 12px 2px #800000;
    }
  }

  &:disabled {
    opacity: 0.3;
  }

  /*
    &--phone-wrong-number {
      width: 20%;
      padding-right: 22px;
      margin: 0 0 0 5px;
      border-radius: 0;
      border: none;

      &:focus {
        box-shadow: none;
      }
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 20px 20px;
    }
  */

  &--code {
    max-width: 260px;
    padding-left: 20px;

    font-size: 25px;
    line-height: 30px;
    letter-spacing: 45px;
    text-align: left;

    border: none;
    background-color: transparent;

    &:focus {
      box-shadow: none;
    }

        /*
    margin: 0;
    margin-right: 10px;
    padding: 0;
    width: 60px;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 10px;
    border-radius: 0;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid $dark-linkColor;

    &:focus {
      box-shadow: none;
    }
    }
    */
  }
}