.link {
  font-size: 12px;
  line-height: 17px;
  font-weight: 600;
  color: $dark-linkColor;
  text-decoration: none;

  &:focus {
    text-decoration: underline;
    outline: none;
  }

  &--authorization {
    margin-top: 20px;
  }
}