.registration {
  align-items: center;
}

.registration__block {
  display: flex;
  flex-direction: column;
  //margin-bottom: 10px;

  &--phone{
    display: flex;
    flex-direction: column;
  }

  &--code {
    display: none;
    max-width: 280px;
  }

  &--password {
    width: 100%;
    //margin-top: 20px;
    display: none;

    .registration__input {
      &:nth-child(2) {
        margin-bottom: 38px;
      }
    }
  }

  &--user-phone {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
  }
}

.registration__input-block {
  position: relative;
  width: 281px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.registration__link {
  margin-top: 15px;

  &--again {
    display: none;
    margin-top: 23px;
    padding-left: 10px;
  }
}

.registration__substrate {
  width: auto;
  max-width: 85px;
  position: absolute;
  top: -12px;
  left: 0;

  color: transparent;
  line-height: 19px;
  //overflow-x: scroll;
  opacity: 0;

  &::after {
    position: absolute;
    width: 100%;
    height: 2px;
    content: "";
    top: 50px;
    left: 0;

    background-color: #800000;
  }
}

.registration__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $dark-fieldColor;
  padding: 5px 10px;
  border-radius: 15px;
}

.registration__block-SMS {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  //background-color: $dark-fieldColor;
  border-radius: 15px;
  height: 42px;
}

.registration__plus-symbol {
  position: relative;

  &::before {
    content: '+';
    position: absolute;
    top: 22px;
    left: 10px;
  }
}

.registration__code {
  position: relative;
}

.registration__border-input {
  position: absolute;
  bottom: 0;
  left: 6px;
  width: 45px;
  height: 2px;
  background-color: $dark-linkColor;

  box-shadow: 58px 0 0 0 $dark-linkColor, 116px 0 0 0 $dark-linkColor, 173px 0 0 0 $dark-linkColor;
}