.tooltip {
  position: absolute;
  top: -50%;
  right: 0;
  width: auto;
  padding: 10px;

  border-radius: 10px;
  border: 2px solid #800000;
  background-color: $dark-textColor;
  color: $dark-background;

  &:after {
    content: "";
    position: absolute;
    bottom: -10px;
    right: 25px;

    border: 10px solid transparent;
    border-right-color: $dark-textColor;
  }

  opacity: 0.8;
}